<section class="row container-fluid">
  <div class="col-md-2" style="padding: 10px 0px 10px 20px;">
    <h2>List&nbsp;User</h2>
  </div>
</section>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i = index;">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.type}}</td>
      <td>{{user.username}}</td>
    </tr>

  </tbody>
</table>
